<div class="text-right b-group b-group--show container">
    <div class="dropdown">
        <a href="<%=devicesPath()%>" class="btn btn--gray" type="button">
            <i class="fas fa-chevron-left"></i>
            Back
        </a>
        <button class="btn btn--blue dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-pencil-alt"></i>
            Edit Association
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="<%=editDevexPath({device_id: device.ID}) %>">Edit</a>
            <a class="dropdown-item bg-danger text-white" href="<%=devexPath({device_id: device.ID}) %>"" data-method="DELETE" data-confirm="Are you sure?">Delete</a>
          </div>
      </div>
</div>

<div class="device-details-bg">
    <section class="device-details container">
        <h4 class="heading-4">Device Details</h4>

        <article class="device-details-overview">

            <table class="table table-borderless device-details-table">
                <thead>
                <tr>
                    <th scope="col"><h4 class="heading-4">Device Overview</h4></th>
                    <th scope="col"><hr></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Manufacturer</td>
                    <td><%= device.Manufacturer %></td>
                </tr>
                <tr>
                    <td>Make</td>
                    <td><%= device.Make %></td>
                </tr>
                <tr>
                    <td>Model</td>
                    <td><%= device.Model %></td>
                </tr>
                <tr>
                    <td>Storage</td>
                    <td><%= device.Storage %></td>
                </tr>
                <tr>
                    <td>Cost</td>
                    <td><%= device.Cost %></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td><%= device.OS %></td>
                </tr>
                <tr>
                    <td>Image URL</td>
                    <td><%= device.ImageURL %></td>
                </tr>
                <tr>
                    <td>Is New</td>
                    <td>
                        <%= if (device.IsNew) { %>
                            Yes
                          <% } else { %>
                            No
                          <% } %>
                    </td>
                </tr>
                </tbody>
            </table>
        </article>


    </section>
</div>